# Bundler
.bundle
Gemfile.lock
vendor

# Librarian Puppet
.tmp
.librarian
Puppetfile.lock
modules/

# Puppet module
pkg

# Development
.vagrant
.mackerel-api-key

# Testing
spec/fixtures
log
junit

# Coveralls
coverage
