# Bundler
.bundle
Gemfile.lock
vendor

# Librarian Puppet
.tmp
.librarian
Puppetfile.lock
modules/

# Puppet module
pkg

# Development
.vagrant

# Testing
spec/fixtures
log
junit

# Coveralls
coverage

# Direnv
.envrc
